<h4 class="text-center">Edit Group</h4>
<form>
    <div class="form-group row ">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputGroupName" value="{{name}}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputGroupDescription" value="{{description}}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-outline-primary" id="btnSaveGroup">Save</button>
        </div>
    </div>
</form>