<div class="boxed">
    {{#if auth}}
    <h3>Hello, {{username}}</h2>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 border">
                <h4 class="text-center">My Groups</h4>
                <br>
                <div id="divMyGroups">
                    <!-- Group List -->
                </div>
                <br>
                <div id="divAddGroup" class="row d-flex justify-content-center">
                    <button class="btn btn-outline-primary" type="button" id="btnAddGroup">
                        <h5>Add group</h5>
                    </button>
                </div>
            </div>

            <div id="divCurrentGroup" class="col-4 border">
                <!-- Insert group view -->
            </div>

            <div id="divShow" class="col-4 border">
                <!-- Insert auxiliary content -->
            </div>
        </div>
    </div>
    {{else}}
    FOCA provides a catalog of leagues from Football-Data.org.
    You can also build and manage your group of teams.
    {{/if}}
</div>