<h4 class="text-center">Search Games</h4>
<br>
<p>Enter dates in format YYYY-MM-DD.</p>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">From:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDateFrom">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">To:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDateTo">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-outline-primary" id="btnShowGames">Search</button>
        </div>
    </div>
</form>

<br>

<div id="divListGames">
    <!-- List Games after search -->
</div>