<div class="col bg-light">
    <div class="row bg-primary">
        <div class="col">
            <h5 class="text-white">Home Team</h5>
        </div>
        <div class="col">
            <h5 class="text-white">Away Team</h5>
        </div>
        <div class="col">
            <h5 class="text-white">Date</h5>
        </div>
    </div>
    {{#each .}}
    <br>
    <div class="row">
        <div class="col">
            <h5 class="font-weight-normal">{{homeTeam.name}}</h5>
        </div>
        <div class="col">
            <h5 class="font-weight-normal">{{awayTeam.name}}</h5>
        </div>
        <div class="col">
            <h5 class="font-weight-normal">{{date}}</h5>
        </div>
    </div>
    {{/each}}
</div>