<body>
    <div class="container-fluid">
        <div>
        <nav class="navbar navbar-expand-lg">
            <a href="#focaIndex" class="badge badge-light">
                <h1>
                    <img src="../img/foca.png" width="70px">
                    FOCA
                </h1>
            </a>
            <div id="divNavbar">
                <!-- Navigation -->
            </div>
        </nav>
        </div>

        <hr>
        <div id="divAlerts">
            <!-- Alerts -->
        </div>
        <div id="divMain">
            <!-- Main Content -->
        </div>
        <br>
        <div id="divReferences">
            <div class="card-footer">
                <small>References</small>
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        <small>Application built with Node.js support.</small>
                    </li>
                    <li class="card-text">
                        <small>
                            <a href="https://www.football-data.org/" target="_blank">
                                Football-Data
                                <img src="../img/football-data_logo.jpg" width="30px">
                            </a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>